fieldset {

    width: 250px;
    height: 190px;
    background-color: lightblue;
 }
legend {
  color: red;
  font-size: 2em;
}

.boldme {
  font-weight: bold;
}

.output {
  background-color: lightyellow;
  width: 280px;
  height: 255px;
  font-weight: bold;
}

body {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}